.heading-1 {
    font-weight: 400;
    font-size: 3.6rem;
    letter-spacing: 0.2em;
    color: color(white);
}

.heading-2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.05em;
    color: color(white);
}

.paragraph {
    font-weight: 500;
    line-height: 3.8rem;
    color: color(white);
}
